{% extends 'adminbase.html.twig' %}

{% block title %}Show User {% endblock %}


{% block body %}


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                            <li class="breadcrumb-item active">Show User</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Show User</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="card-body">

                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ user.id }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>Roles</th>
                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td>{{ user.password }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ user.name }}</td>
                        </tr>
                        <tr>
                            <th>Surname</th>
                            <td>{{ user.surname }}</td>
                        </tr>
                        <tr>
                            <th>Image</th>
                            <td><img src="{{ asset('uploads/images/' ~ user.image) }}" height="100"></td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ user.status }}</td>
                        </tr>
                        <tr>
                            <th>Created_at</th>
                            <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Updated_at</th>
                            <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <a href="{{ path('admin_user_index') }}">back to list</a>

                    <a href="{{ path('admin_user_edit', {'id': user.id}) }}">edit</a>

                    <div class="col-sm-3">
                        {{ include('admin/user/_delete_form.html.twig') }}
                    </div>

                    <!-- /.card-body -->
                    <div class="card-footer">
                        Footer
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock %}

