{% extends 'adminbase.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Settings Page</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                        <li class="breadcrumb-item active">Setting Page</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Setting</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i></button>
                </div>
            </div>
            <div class="card-body">


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>

                <th>Company</th>

                <th>Email</th>

                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for setting in settings %}
            <tr>
                <td>{{ setting.id }}</td>
                <td>{{ setting.title }}</td>

                <td>{{ setting.company }}</td>

                <td>{{ setting.email }}</td>

                <td>{{ setting.status }}</td>
                <td>
                    <a href="{{ path('setting_show', {'id': setting.id}) }}" class="btn btn-block btn-info">Show</a>
                </td>
                <td>
                    <a href="{{ path('setting_edit', {'id': setting.id}) }}" class="btn btn-block btn-info"> Edit</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="21">no records found
                    <a href="{{ path('setting_new') }}" class="btn btn-block btn-info">Create Settings</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                Footer
            </div>
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>
    <!-- /.content-wrapper -->

{% endblock %}
