{% extends 'homebase.html.twig' %}

{% block title %}Contact | {{setting[0].title}}{% endblock %}
{% block keywords %}{{setting[0].keywords}}{% endblock %}
{% block description %}{{setting[0].description}} {% endblock %}

{% block body %}

    <!-- Subintro
================================================== -->
    <section id="subintro">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                        <li><a href="/">Home</a><i class="icon-angle-right"></i></li>
                        <li class="active">Contact us</li>
                    </ul>
                </div>
                <div class="span4">
                    <div class="search">
                        <form class="input-append">
                            <input class="search-form" id="appendedPrependedInput" type="text" placeholder="Search here.." />
                            <button class="btn btn-dark" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="maincontent">
        <div class="container">
            <div class="row">


                <div class="span5">
                    <aside>


                        <h3>Contact Form </h3>
                        {{ include('messages.html.twig') }}

                        <form name="messages"  method="post" role="form" class="contactForm">
                            <div class="row">
                                <div class="span4 form-group">
                                    <input type="text" id="messages_name" name="messages[name]" class="input-block-level"  placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>

                                <div class="span4 form-group">
                                    <input type="email" class="input-block-level" id="messages_email" name="messages[email]" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>
                                <div class="span4 form-group">
                                    <input type="text" class="input-block-level" id="messages_subject" name="messages[subject]" maxlength="75" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                                <div class="span4 form-group">
                                    <textarea class="input-block-level" id="messages_message" name="messages[message]" maxlength="255" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                    <div class="text-center">

                                        <input type="hidden" name="token" value="{{ csrf_token('form-messeage') }}" />
                                        <button class="btn btn-theme" type="submit">Send a message</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </aside>
                </div>



                <div class="span7">

                    <div class="widget">
                        <div class="widget">

                            <ul class="social-links">
                                <li><a href="{{ setting[0].twitter }}" title="Twitter"><i class="icon-square icon-32 icon-twitter"></i></a></li>
                                <li><a href="{{ setting[0].facebook }}" title="Facebook"><i class="icon-square icon-32 icon-facebook"></i></a></li>
                                <li><a href="{{ setting[0].instagram }}" title="Instagram"><i class="icon-square icon-32 icon-pinterest"></i></a></li>
                                <li><a href="#" title="Linkedin"><i class="icon-square icon-32 icon-linkedin"></i></a></li>
                                <li><a href="#" title="Pinterest"><i class="icon-square icon-32 icon-pinterest"></i></a></li>
                            </ul>
                        </div>

                        <h3 class="rheading">Contact Information<span></span></h3>
                        {{ setting[0].contact |raw }}
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}


