<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/admin" class="brand-link">
        <img src="{{ asset('assets') }}/admin/dist/img/AdminLTELogo.png"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Hotel Admin</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ asset('uploads/images/' ~ app.user.image) }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{app.user.name}} {{app.user.surname}}</a>

                <a href="{{ path('app_logout')}}">  Logout</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview">
                    <a href="/admin/reservation/" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>

                        <p>
                            Rezervations
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/reservation/New" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>New
                                <span class="right badge badge-danger">New</span>
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/reservation/Accepted" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Accepted</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/reservation/Canceled" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Canceled</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/reservation/Completed" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Completed</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/admin/category" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Category

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/hotel" class="nav-link">
                        <i class="nav-icon fas fa-building"></i>
                        <p>
                            Hotels
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/admin/user" class="nav-link">
                        <i class="nav-icon fas fa-user-friends"></i>
                        <p>
                            Users
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/admin/messages" class="nav-link">
                        <i class="nav-icon fas fa-comment"></i>
                        <p>
                            Form Messages
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/admin/comment" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            User Comments
                        </p>
                    </a>
                </li>
                <li class="nav-header">General</li>
                <li class="nav-item">
                    <a href="{{ path('setting_index') }}" class="nav-link">
                        <i class="nav-icon far fa-circle text-danger"></i>
                        <p class="text">Settings</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-circle text-warning"></i>
                        <p>Warning</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-circle text-info"></i>
                        <p>Informational</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>