{% extends 'adminbase.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Blank Page</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Blank Page</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Title</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i></button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fas fa-times"></i></button>
                    </div>
                </div>
                <div class="card-body">
                    <h1>Hotel</h1>

                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ hotel.id }}</td>
                        </tr>
                        <tr>
                            <th>Title</th>
                            <td>{{ hotel.title }}</td>
                        </tr>
                        <tr>
                            <th>Keywords</th>
                            <td>{{ hotel.keywords }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ hotel.description }}</td>
                        </tr>
                        <tr>
                            <th>Image</th>
                            <td><img src="{{ asset('uploads/images/' ~ hotel.image) }}" height="100"> </td>
                        </tr>
                        <tr>
                            <th>Star</th>
                            <td>{{ hotel.star }}</td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td>{{ hotel.address }}</td>
                        </tr>
                        <tr>
                            <th>City</th>
                            <td>{{ hotel.city }}</td>
                        </tr>
                        <tr>
                            <th>Phone</th>
                            <td>{{ hotel.phone }}</td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td>{{ hotel.email }}</td>
                        </tr>
                        <tr>
                            <th>Fax</th>
                            <td>{{ hotel.fax }}</td>
                        </tr>
                        <tr>
                            <th>Country</th>
                            <td>{{ hotel.country }}</td>
                        </tr>
                        <tr>
                            <th>Location</th>
                            <td>{{ hotel.location }}</td>
                        </tr>
                        <tr>
                            <th>Detail Information</th>
                            <td>{{ hotel.detail |raw }}</td>
                        </tr>
                        <tr>
                            <th>Status</th>
                            <td>{{ hotel.status }}</td>
                        </tr>
                        <tr>
                            <th>Created_at</th>
                            <td>{{ hotel.createdAt ? hotel.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        <tr>
                            <th>Updated_at</th>
                            <td>{{ hotel.updatedAt ? hotel.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="col-md-2">
                        <a href="{{ path('admin_hotel_index') }}" class="btn btn-block btn-info">Back to List</a>
                    </div>
                    <div class="col-md-2">
                        <a href="{{ path('admin_hotel_edit', {'id': hotel.id}) }}" class="btn btn-block btn-success">Edit</a>
                    </div>

                    {{ include('admin/hotel/_delete_form.html.twig') }}
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    Footer
                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

{% endblock %}

