{% extends 'homebase.html.twig' %}

{% block title %}{{ app.user.name  }} Profile{% endblock %}

{% block body %}
    <!-- Subintro
================================================== -->
    <section id="subintro">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                        <li><a href="#">Blog</a><i class="icon-angle-right"></i></li>
                        <li class="active">Blog with left sidebar</li>
                    </ul>
                </div>
                <div class="span4">
                    <div class="search">
                        <form class="input-append">
                            <input class="search-form" id="appendedPrependedInput" type="text" placeholder="Search here.." />
                            <button class="btn btn-dark" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="maincontent">
        <div class="container">
            <div class="row">

                {{ include('user/usermenu.html.twig') }}

                <div class="span9">
                    <!-- start article 1 -->
                    <article class="blog-post">
                        <div class="post-heading">
                            <h3><a href="#">User Comments List</a></h3>
                        </div>
                        <div class="row">


                                <table class="table">
                                    <thead>
                                    <tr>

                                        <th>Subject</th>
                                        <th>Comment</th>
                                        <th>Status</th>
                                        <th>Hotel</th>
                                        <th>Created_at</th>
                                        <th>Rate</th>
                                        <th>actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for comment in comments %}
                                        <tr>

                                            <td>{{ comment.subject }}</td>
                                            <td>{{ comment.comment }}</td>
                                            <td>{{ comment.status }}</td>
                                            <td nowrap><a href="{{ path('hotel_show', {'id': comment.hotelid}) }}">{{ comment.title }}</a></td>
                                            <td>{{ comment.created_at }}</td>
                                            <td>{{ comment.rate }}</td>
                                            <td>
                                                <a href="" class="btn btn-danger">Delete</a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="10">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>


                        </div>
                    </article>
                    <!-- end article 1 -->

                </div>
            </div>
        </div>
    </section>

{% endblock %}
